body {
    font-family: var(--font-body);
    font-size: 16px;
    color: var(--color-text-white);
    background-color: var(--color-bg-dark);
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: var(--font-heading);
    text-transform: uppercase;
    font-weight: 700;
    line-height: 1.1;
}