body {
    font-family: var(--font-body);
    font-size: 16px;
    color: #1a1a1a;
    /* Default dark text for light theme */
    background-color: #ebfef0;
    overflow-x: hidden;
    width: 100%;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: var(--font-heading);
    text-transform: uppercase;
    font-weight: 700;
    line-height: 1.1;
}